@page "/"
@using NetAF.Logic.Modes
@using NetAF.Rendering.FrameBuilders
@using System.Reflection
@implements IFramePresenter

<PageTitle>Trouble Aboard the SS Hammerhead</PageTitle>

<div style="font-size: 8px; color: #FFFFFF60">
    <p>Version: @version</p>
</div>

<div style="font-size: 11px;">
    @((MarkupString)frameAsHtml)
</div>

@if (showInput)
{
    <input type="text" style="width: 530px; font-size: 11px;" @ref="textInput" @bind="text" @onkeyup="HandleInput" />
}

@if (showAcknowledge)
{
    <button class="btn btn-primary" style="width: 530px; font-size: 11px;" @ref="acknowledgeButton" @onclick="Acknowledge">OK</button>
}

@code {
    private string version = string.Empty;
    private HtmlAdapter? htmlAdapter;
    private string frameAsHtml = string.Empty;
    private string text = string.Empty;
    private bool showInput = false;
    private bool showAcknowledge = false;
    private ElementReference acknowledgeButton;
    private ElementReference textInput;

    private void Acknowledge()
    {
        GameExecutor.Update();
    }

    private void HandleInput(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(text))
        {
            GameExecutor.Update(text);
            text = string.Empty;
        }
    }

    protected override void OnInitialized()
    {
        var v = Assembly.GetExecutingAssembly()?.GetName()?.Version;
        version = v != null ? $"{v.Major}.{v.Minor}.{v.Build}" :"unknown";

        if (GameExecutor.IsExecuting)
            return;

        htmlAdapter = new HtmlAdapter(this);
        GameConfiguration configuration = new(htmlAdapter, SSHammerhead.Blazor.FrameBuilderCollections.Naomi, new(80, 48));
        GameExecutor.Execute(TroubleAboardTheSSHammerHead.Create(configuration, SSHammerhead.Blazor.FrameBuilderCollections.Naomi, SSHammerhead.Blazor.FrameBuilderCollections.Bot));
    }

    public async void Present(string frame)
    {
        frameAsHtml = frame;
        showInput = htmlAdapter?.Game?.Mode?.Type == GameModeType.Interactive;
        showAcknowledge = htmlAdapter?.Game?.Mode?.Type == GameModeType.Information;

        await InvokeAsync(StateHasChanged);

        if (showInput && textInput.Context != null)
            await textInput.FocusAsync();

        if (showAcknowledge && acknowledgeButton.Context != null)
            await acknowledgeButton.FocusAsync();
    }
}
