@page "/"
@using SSHammerhead.Assets.Players.Management
@using SSHammerhead.Blazor.Components
@using System.Reflection

<PageTitle>Trouble Aboard the SS Hammerhead</PageTitle>

<div style="font-size: 8px; color: #FFFFFF60">
    <p>Version: @version</p>
</div>

<div style="@(!gameRunning ? "display: none;" : "")">
    <GameComponent @ref="gameComponent" />
</div>

<div style="font-size: 24px; @(gameRunning ? "display: none;" : "")">
    <p>Getting read, please standby...</p>
</div>


@code {
    private string version = string.Empty;
    private bool gameRunning = false;
    private GameComponent? gameComponent;

    protected async override void OnInitialized()
    {
        if (GameExecutor.IsExecuting)
            return;

        SetupVersion();

        await ImageCache.CacheAllImages();

        gameRunning = true;
        await InvokeAsync(StateHasChanged);

        var htmlAdapter = new HtmlAdapter(gameComponent);

        SetupComponents(htmlAdapter);
        BeginGame(htmlAdapter);
    }

    private void SetupVersion()
    {
        var v = Assembly.GetExecutingAssembly()?.GetName()?.Version;
        version = v != null ? $"{v.Major}.{v.Minor}.{v.Build}" : "unknown";
    }

    private void BeginGame(HtmlAdapter htmlAdapter)
    {
        GameConfiguration configuration = new(htmlAdapter, SSHammerhead.Blazor.FrameBuilderCollections.Naomi, new(80, 48));
        GameExecutor.Execute(TroubleAboardTheSSHammerHead.Create(configuration, SSHammerhead.Blazor.FrameBuilderCollections.Naomi, SSHammerhead.Blazor.FrameBuilderCollections.Bot));
    }

    private void SetupComponents(HtmlAdapter htmlAdapter)
    {
        gameComponent?.SetAdapter(htmlAdapter);
    }
}