@page "/"
@using NetAF.Assets
@using NetAF.Blazor.Components
@using NetAF.Rendering
@using NetAF.Rendering.FrameBuilders
@using SSHammerhead.Assets.Players.Management
@using SSHammerhead.Configuration
@using System.Reflection

<PageTitle>Trouble Aboard the SS Hammerhead</PageTitle>

<div style="@(modeSelected ? "display: none;" : "")">
    <h1>Trouble Aboard the SS Hammerhead</h1>

    <div style="font-size: 8px; color: #FFFFFF60">
        <p>Version: @version</p>
    </div>

    <div>
        <p>HTML runs using frames created for displaying in HTML. Run this mode for a mode modern, browser based experience. Suits mobile devices better.</p>
        <button class="btn btn-primary" @onclick="RunHtml">Run HTML</button>
    </div>

    <br />

    <div>
        <p>Console emulation runs using frames created for display in the console. Run in this mode for a retro look and feel. Works well on a desktop but may not scale well on a mobile device.</p>
        <button class="btn btn-primary" @onclick="RunConsoleEmu">Run console emulation</button>
    </div>

    <br />
</div>

<div style="@(!modeSelected ? "display: none;" : "")">
    <GameComponent @ref="gameComponent" />
</div>

@code {
    private bool modeSelected = false;
    private string version = string.Empty;
    private GameComponent? gameComponent;

    protected override async void OnInitialized()
    {
        var v = Assembly.GetExecutingAssembly()?.GetName()?.Version;
        version = v != null ? $"{v.Major}.{v.Minor}.{v.Build}" : "unknown";

        await ImageCache.CacheAllImages();
    }

    private void RunConsoleEmu()
    {
        var presentation = new Presentation(
            SSHammerhead.Blazor.FrameBuilderCollections.NaomiConsoleEmulation, 
            SSHammerhead.Blazor.FrameBuilderCollections.BotConsoleEmulation, 
            SSHammerhead.Blazor.FrameBuilderCollections.AnneConsoleEmulation, 
            SSHammerhead.Blazor.FrameBuilderCollections.AlexConsoleEmulation, 
            SSHammerhead.Blazor.FrameBuilderCollections.MarinaConsoleEmulation, 
            SSHammerhead.Blazor.FrameBuilderCollections.ScottConsoleEmulation, 
            SSHammerhead.Blazor.FrameBuilderCollections.ZhiyingConsoleEmulation);
        BeginGame(presentation, new(80, 48));
    }

    private void RunHtml()
    {
        FrameProperties.DisplayCommandList = false;
        var presentation = new Presentation(
            SSHammerhead.Blazor.FrameBuilderCollections.NaomiHtml,
            SSHammerhead.Blazor.FrameBuilderCollections.BotHtml,
            SSHammerhead.Blazor.FrameBuilderCollections.AnneHtml,
            SSHammerhead.Blazor.FrameBuilderCollections.AlexHtml,
            SSHammerhead.Blazor.FrameBuilderCollections.MarinaHtml,
            SSHammerhead.Blazor.FrameBuilderCollections.ScottHtml,
            SSHammerhead.Blazor.FrameBuilderCollections.ZhiyingHtml);
        BeginGame(presentation, new(50, 30));
    }

    private void SetupComponents(HtmlAdapter htmlAdapter)
    {
        gameComponent?.SetAdapter(htmlAdapter);

        if (gameComponent?.RestorePointComponent != null)
            gameComponent.RestorePointComponent.PostRestoreCallback = g => PlayableCharacterManager.ApplyConfiguration(g.Player, g);
    }

    private void BeginGame(Presentation presentation, Size size)
    {
        if (GameExecutor.IsExecuting)
            GameExecutor.CancelExecution();

        var htmlAdapter = new HtmlAdapter(gameComponent);
        SetupComponents(htmlAdapter);

        GameConfiguration configuration = new(htmlAdapter, presentation.Naomi, size);
        GameExecutor.Execute(TroubleAboardTheSSHammerhead.Create(configuration, presentation));

        modeSelected = true;
    }
}
