@page "/"
@using System.Reflection
@inject NavigationManager NavigationManager

<PageTitle>Trouble Aboard the SS Hammerhead</PageTitle>

<h1>Trouble Aboard the SS Hammerhead</h1>

<div style="font-size: 8px; color: #FFFFFF60">
    <p>Version: @version</p>
</div>

<div>
    <p>Console emulation runs using frames created for display in the console. Run in this mode for a retro look and feel.</p>
    <button class="btn btn-primary" @onclick="@(()=>NavigationManager.NavigateTo("/Console-Emu-Mode"))">Run console emulation</button>
</div>

<br/>

<div>
    <p>HTML runs using frames created for displaying in HTML. Run this mode for a mode modern, broswer based experience.</p>
    <button class="btn btn-primary" @onclick="@(()=>NavigationManager.NavigateTo("/Html-Mode"))">Run Html</button>
</div>

@code {
    private string version = string.Empty;

    protected override void OnInitialized()
    {
        var v = Assembly.GetExecutingAssembly()?.GetName()?.Version;
        version = v != null ? $"{v.Major}.{v.Minor}.{v.Build}" : "unknown";
    }
}