@using NetAF.Rendering.FrameBuilders
@implements IFramePresenter

<div>
    <OutputComponent @ref="outputComponent" />
</div>

<div>
    <InputComponent @ref="inputComponent" />
</div>

<br />

<div>
    <RestorePointComponent @ref="restorePointComponent" />
</div>

@code {
    private OutputComponent? outputComponent;
    private InputComponent? inputComponent;
    private RestorePointComponent? restorePointComponent;
    private HtmlAdapter? htmlAdapter;

    public void SetAdapter(HtmlAdapter htmlAdapter)
    {
        this.htmlAdapter = htmlAdapter;
        inputComponent?.SetAdapter(htmlAdapter);
        restorePointComponent?.SetAdapter(htmlAdapter);
    }

    public void Present(string frame)
    {
        outputComponent?.Update(frame);
        restorePointComponent?.Update();
        inputComponent?.Update();
    }
}
