<div class="div-output">
    @((MarkupString)frameAsHtml)
</div>

@code {
    private string frameAsHtml = string.Empty;

    public async void Update(string frame)
    {
        frameAsHtml = frame;
        await InvokeAsync(StateHasChanged);
    }
}
